body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#container {
  margin: auto;
  background-color: #eef0f1;
}
.box-img {
  /* 1920x1280 */
  background-image: url("../img/BgMain1920x1280.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box-img header {
  padding: 10% 0;
  display: block;
  margin-bottom: 0;
  color: #eef0f1;
}
.box-img h1 {
  font-size: 90px;
  color: #eef0f1;
}
.box-img h2 {
  font-size: 32px;
  padding: 1% 0;
  color: #eef0f1;
  display: none;
}
nav {
  padding-bottom: 5px;
  width: 100%;
  float: right;
}
nav #logo {
  margin: 10px 0 0 5%;
}
nav ul {
  font-size: 0;
  padding: 0 5% 1%;
  text-align: right;
}
nav ul img {
  float: left;
}
nav ul li:first-of-type {
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
}
nav ul li li {
  display: block;
  border-bottom: none;
}
nav ul li li a {
  display: block;
  font-size: 16px;
  color: #eef0f1;
  text-decoration: none;
  padding: 20px 25px 12px;
  margin: 0;
  transition: color 0.25s, border-bottom-color 0.3s;
}
nav ul li li a:hover {
  color: #97171b;
  border-bottom: #97171b 1px solid;
}
nav ul li a {
  font-size: 16px;
  color: #eef0f1;
  text-decoration: none;
  padding: 20px 25px 12px;
  margin: 0;
  transition: color 0.25s, border-bottom-color 0.3s;
}
nav ul li a:hover {
  color: #97171b;
}
nav ul li .underline {
  border-bottom: #eef0f1 1px solid;
}
nav ul li .underline:hover {
  border-bottom: #97171b 1px solid;
}
#nav-border {
  visibility: hidden;
  background: linear-gradient(#727272, #eef0f1);
  height: 5px;
}
.docked {
  box-shadow: 0 4px 5px #727272;
  background: #eef0f1;
  position: fixed;
  right: 0;
  top: 0;
}
.docked ul li a {
  color: #071922;
}
#burger-icon {
  float: right;
  color: #eef0f1;
  width: 30px;
  margin: 0 40px 0 0;
  font-size: 30px;
  cursor: pointer;
}
#burger {
  text-align: right;
  width: 100%;
  display: none;
}
.secondary-section {
  color: #eef0f1;
  background-color: #071922;
}
section {
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
section .diagonal_border {
  background: linear-gradient(to top right, #eef0f1 48%, #071922 52%);
  height: 50px;
}
section .reverse {
  background: linear-gradient(to bottom left, #eef0f1 48%, #071922 52%);
}
#s2 {
  color: #071922;
}
#s2 div {
  width: 45%;
  margin: 2%;
  float: right;
}
#s2 div:first-of-type {
  border: 1px #071922 solid;
  border-radius: 5px;
  padding: 8% 0;
}
#s3 h1 {
  margin: 0;
  padding: 40px 0;
}
#s3 .container {
  margin: 10%;
  display: grid;
  grid-template-columns: 1200fr 640fr;
  grid-gap: 4px;
}
#s3 .container div img {
  padding-bottom: 4px;
  display: block;
  width: 100%;
}
#s4 h1 {
  padding: 30px 0 100px;
}
@media only screen and (max-width: 500px) {
  #burger {
    display: block;
  }
  nav {
    padding-bottom: 0;
    color: #eef0f1;
    background-color: #071922;
    opacity: 0.85;
  }
  nav #menu {
    display: none;
  }
  nav ul {
    display: block;
    margin-bottom: 20px;
  }
  nav ul img {
    display: none;
  }
  nav ul li:first-of-type {
    margin-top: 11%;
  }
  nav ul li {
    text-align: center;
    display: block;
    padding: 15px;
    border-bottom: #eef0f1 1px solid;
  }
  nav ul li a {
    border: none;
    padding: 0;
  }
  nav ul li a:hover {
    border-bottom: none;
  }
  .box-img {
    background-attachment: scroll;
    background-image: url("../img/BgMobile360x640.jpg");
    min-height: 640px;
  }
  .box-img h1 {
    margin-top: 260px;
    font-size: 45px;
  }
  .box-img h2 {
    font-size: 18px;
  }
  #s2 div {
    width: 90%;
  }
}
