html {
  background-color: #071922;
}
body {
  color: #071922;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#container {
  margin: auto;
  background-color: #eef0f1;
}
h2 {
  font-size: 28px;
  letter-spacing: 3px;
  padding: 85px 0 10px;
}
h5 {
  position: relative;
  font-size: 28px;
  letter-spacing: 3px;
}
.box-img {
  /* 1920x1280 */
  background-image: url("../img/BgMain1920x1280.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box-img header {
  padding: 10% 0;
  display: block;
  margin-bottom: 0;
  color: #eef0f1;
}
.box-img h1 {
  font-size: 90px;
  color: #eef0f1;
}
.box-img h4 {
  font-size: 32px;
  padding: 1% 0;
  color: #eef0f1;
  display: none;
}
.underline {
  border-bottom: #eef0f1 1px solid;
}
.underline:hover {
  border-bottom: #97171b 1px solid;
}
nav {
  z-index: 100;
  padding-bottom: 5px;
  width: 100%;
  float: right;
}
nav #logo {
  margin: 10px 0 0 5%;
}
nav ul {
  font-size: 0;
  padding: 0 5% 1%;
  text-align: right;
}
nav ul img {
  float: left;
}
nav ul li:first-of-type {
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
}
nav ul li li {
  display: block;
  border-bottom: none;
}
nav ul li li h1 {
  display: block;
  font-size: 16px;
  color: #eef0f1;
  text-decoration: none;
  padding: 20px 25px 12px;
  margin: 0;
  transition: color 0.25s, border-bottom-color 0.3s;
}
nav ul li li a:hover {
  color: #97171b;
}
nav ul li a {
  font-size: 16px;
  color: #eef0f1;
  text-decoration: none;
  padding: 20px 25px 12px;
  margin: 0;
  transition: color 0.25s, border-bottom-color 0.3s;
}
nav ul li a:hover {
  color: #97171b;
}
#nav-border {
  visibility: hidden;
  background: linear-gradient(#727272, #eef0f1);
  height: 5px;
}
.docked {
  box-shadow: 0 4px 5px #727272;
  background: #eef0f1;
  position: fixed;
  right: 0;
  top: 0;
}
.docked ul li a {
  color: #071922;
}
#burger-icon {
  float: right;
  color: #eef0f1;
  width: 30px;
  margin: 0 40px 0 0;
  font-size: 30px;
  cursor: pointer;
}
#burger {
  text-align: right;
  width: 100%;
  display: none;
}
#s1 {
  height: 650px;
}
.secondary-section {
  color: #eef0f1;
  background-color: #071922;
}
section {
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
section .diagonal_border {
  background: linear-gradient(to top right, #eef0f1 48%, #071922 52%);
  height: 50px;
}
section .reverse {
  background: linear-gradient(to bottom left, #eef0f1 48%, #071922 52%);
}
#s2 div {
  text-indent: 25px;
  font-size: 14px;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 30px;
  float: right;
  text-align: justify;
}
#s25 .offer-container {
  height: 300px;
}
#s25 .offer-img {
  height: 250px;
  width: 350px;
  box-shadow: 2px 2px 3px #071922;
  display: inline-block;
}
#s25 .img-left {
  float: left;
  margin-left: 5%;
}
#s25 .img-right {
  float: right;
  margin-right: 15%;
}
#s25 .text-left {
  margin: 3% 10% 3% -15%;
}
#s25 .text-right {
  float: right;
  margin: 2.5% 0;
  margin-right: -10%;
}
#s25 #projektowanie {
  background-image: url("../img/oferta/Projektowanie1.jpg");
}
#s25 #plc {
  background-image: url("../img/oferta/programowanie-plc.jpg");
}
#s25 #szafy {
  background-image: url("../img/oferta/Prefabrykacja2 (1).jpg");
}
#s25 #montaz {
  background-image: url("../img/oferta/montaz.jpg");
}
#s25 #KNX {
  background-image: url("../img/oferta/KNX.jpg");
}
#s25 .offer-text {
  height: 160px;
  padding: 10px;
  background-color: #eef0f1;
  box-shadow: 1px 1px 5px #071922;
  border-radius: 5px;
  display: inline-block;
  width: 60%;
}
#s25 .offer-text h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 14px;
}
#s25 .offer-text p {
  text-align: left;
  font-size: 12px;
  margin: 0 5%;
}
#s3 {
  border-bottom: #eef0f1 solid 5px;
}
#s3 img {
  height: auto;
}
#s3 h1 {
  margin: 0;
  padding: 40px 0;
}
#s3 .container {
  margin: 5% 10% 0;
  display: grid;
  grid-template-columns: 1200fr 640fr;
  grid-gap: 1%;
}
#s3 .container div img {
  padding-bottom: 2.7%;
  display: block;
  height: 47%;
  width: 100%;
}
#s3 .container2 {
  margin: 0 10% 5%;
  display: grid;
  grid-template-columns: 660fr 1016fr;
  grid-gap: 1%;
}
#s3 .container2 div img {
  padding-bottom: 2.7%;
  display: block;
  height: 47%;
  width: 100%;
}
#s4 i {
  padding-right: 8px;
  font-size: 16px;
}
#s4 p {
  line-height: 22px;
  font-size: 15px;
  display: inline-block;
  padding: 4% 8%;
  text-align: left;
}
.red {
  color: #97171b;
}
@media only screen and (max-width: 600px) {
  #burger {
    display: block;
  }
  .underline {
    border: none;
  }
  nav {
    padding-bottom: 0;
    color: #eef0f1;
    background-color: #071922;
    opacity: 0.85;
  }
  nav #menu {
    display: none;
  }
  nav ul {
    display: block;
    margin-bottom: 20px;
  }
  nav ul img {
    display: none;
  }
  nav ul li:first-of-type {
    margin-top: 11%;
  }
  nav ul li {
    text-align: center;
    display: block;
    padding: 15px;
    border-bottom: #eef0f1 1px solid;
  }
  nav ul li ul {
    display: none;
  }
  nav ul li a {
    border: none;
    padding: 0;
  }
  nav ul li a:hover {
    border-bottom: none;
  }
  .box-img {
    background-attachment: scroll;
    background-image: url("../img/BgMobile360x640.jpg");
    min-height: 640px;
  }
  .box-img h1 {
    margin-top: 260px;
    font-size: 45px;
  }
  .box-img h4 {
    font-size: 18px;
  }
  #s25 .offer-container {
    height: auto;
    margin: auto;
    padding: auto;
    display: block;
  }
  #s25 .offer-img {
    width: 320px;
    box-shadow: 2px 2px 3px #071922;
    display: block;
  }
  #s25 .offer-text {
    height: auto;
    width: 260px;
    margin: auto;
    margin-top: -50px;
    margin-bottom: 50px;
    opacity: 0.9;
    padding: 20px 10px;
  }
  #s25 .offer-text p {
    text-align: justify !important;
  }
  #s25 .text-left {
    float: none;
  }
  #s25 .text-right {
    float: none;
  }
  #s25 .img-left {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #s25 .img-right {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
